.failure-view-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.failure-view-img {
  width: 250px;
  height: 200px;
}
.failure-view-title {
  font-size: 20px;
  font-weight: 500;
  color: #434444;
}
.failure-view-desc {
  font-size: 14px;
  line-height: 1.5;
  color: #434444;
  text-align: center;
}
.retry-button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #9fa6b2;
  color: #434444;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}
@media (min-width: 768px) {
  .failure-view-img {
    width: 400px;
    height: 350px;
  }
  .failure-view-title {
    font-size: 24px;
  }
  .failure-view-desc {
    font-size: 16px;
  }
}
